
body{
    background-color: tomato;
}
section{
    background-color: white;
}
article{
    background-color: whitesmoke;
    border-style: solid;
    border-color: black;
    overflow: auto;
    position: relative;
    margin: 10px;
}

img{
    /*     position:absolute;
 */    float: right;
    width: 50%;
    top: 0;
    right: 0;
    margin: auto;

    
}
main{

    display: flex;
}
#DBZ{
    display: none;
}
#DB{
    display: none;
}
