body{
    margin: 0;
}
h1{
    background-color: darksalmon;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 15px;
    width: 100%;

}

nav{
    background-color: rgb(66, 59, 60);
    text-align: center;
    box-sizing: border-box;
    
    padding: 5px;
    margin: 0;
    display: flex;
}

a{
    background-color: rgb(85, 47, 255);
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    margin: 8px;
    padding: 5px;
    border: 1px solid black;
    width: calc(25% - 28px);
}

ul{
    box-sizing: border-box;
    width: 25%;
    margin: 0;
    padding: 15px;
    background-color: rgb(16, 109, 78);
}

li{
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    list-style-position: inside;
}

p{
    background-color: rgb(17, 148, 172);
    border-color: rgb(17, 148, 172);
    border: 5px hidden rgb(17, 148, 172);
    padding: 15px;
    margin: 0;
    min-height: 100%;
}

footer{
    background-color: darkred;
    color: ghostwhite;
    text-align: center;
    clear: right;
    padding: 15px;
}

.right{
   flex-direction: column;
   order: 2;
}

.todo{
    display: flex;
    
    
}
.textoa{
   order: 1;
   width: 75%;
}