body {
    background-color: cadetblue;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

div {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

div>* {
    padding: 1em;
}

output {
    color: #42c920;
    background-color: black;
    text-align: center;
    padding: 0.5em;
}

output::before{
    content: "[Output]$: ";
}