nav{
    /*margin: 15px;*/
    padding: 12px;
    text-align: center;
    background-color: rgba(83, 83, 83, 0.747);
}
a{
    display:inline-block;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid black;
    width: calc(25% - 22px); 
    font-size: 32px;
    background-color: rgb(101, 99, 223);
    
}

img{
   margin: 15px;
}

.izquierda{
    float: left;
    
}
.derecha{
    
    float: right;
}

.cl{
    clear: left;
}