h1,h2{

    color:darkblue;

}

*{
    margin: 16px;
}

*.special p{
    font-weight: bold;
}

*.special>p{
    color: darkred;
}


*.special>*{
    margin: 0;
    padding: 16px;
    border: 1px solid black;
}

.special>*:first-child{
    border-radius: 8px 8px 0 0;
}

.special>*:last-child{
    border-radius: 0 0 8px 8px;
}
.special>*:first-child:last-child{
    border-radius: 8px;
}


.special2{
background-color: steelblue;
border: 1px solid black;
margin: 0;
padding: 0; }

.special2 *{
    background-color: aliceblue;
    padding: 16px;
    margin: 0;
}


.mycheckbox:checked+span{
    background-color: lightblue;
}

.mycheckbox:checked+span::before{
    content: "=========>";
}

.mycheckbox:checked+span::after{
    content: "<=========";
}

.mycheckbox:checked~span{
    font-weight: bold;
}

.special2>*+*{
    margin-top: 20px;
}


/* :checked{
    background-color: darkred;
} */